@model DataAccess.CarDetailsVM

@{
    ViewBag.Title = "Szczegóły ogłoszenia";
}

<p>
    <br /><i class="glyphicon glyphicon-circle-arrow-left"></i> @Html.ActionLink("Powrót do wyników", "Index")
</p>

<div class="row">

    <div class="col-sm-9"><h2>@Html.DisplayFor(model => model.Brand) @Html.DisplayFor(model => model.Model)</h2></div>
    <div class="col-sm-3" style="text-align: right">
        <h1>@Html.DisplayFor(model => model.Price) zł</h1><br/>
    </div>

    <div class="row">
        <div class="col-sm-9"><img src="~/Images/obraz.jpg" style="width: 100%">
        </div>
        <div class="col-sm-3" style="text-align: center">
            <br/><i class="glyphicon glyphicon-user" style="font-size: 80px"></i>
            <h4> @Html.DisplayFor(model => model.UserName)</h4><br/>
            <p><i class="glyphicon glyphicon-earphone"></i> @Html.DisplayFor(model => model.Phone)</p>
            <p><i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)</p>
            <p><i class="glyphicon glyphicon-map-marker"></i> @Html.DisplayFor(model => model.City)</p>


        </div>
    </div>

    <div class="row">
        <br /><br />
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">

                    <dl class="dl-horizontal">
                        <dt>
                            Marka
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Brand)
                        </dd>

                        <dt>
                            Model
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Model)
                        </dd>

                        <dt>
                            Rok produkcji
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ProductYear)
                        </dd>

                    </dl>
                </div>

                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>
                            Przebieg
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Distance) km
                        </dd>

                        <dt>
                            Pojemność
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Capacity) cm3
                        </dd>

                        <dt>
                            Rodzaj paliwa
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PetrolType)
                        </dd>


                    </dl>
                </div>

                <div class="col-sm-4">
                    <dl class="dl-horizontal">
                        <dt>
                            Status pojazdu
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Condition)
                        </dd>

                        <dt>
                            Skrzynia biegów
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TransmissionType)
                        </dd>

                        <dt>
                            Typ nadwozia
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BodyName)
                        </dd>

                    </dl>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Opis pojazdu</h3><br />

                    <p>@Html.DisplayFor(model => model.Description)</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
